/build/
buildSrc/build/
/dist/
/media/
modules/website/public/javadoc/
modules/website/public/jvmguard-annotations.jar
.gradle/
.kotlin/

*.iml
.idea/workspace.xml
/.idea/dataSources.local.xml
/.idea/dataSources/
